/*Normalizer*/

*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/*Normalizer*/
.container {
  height: 100vw;
  width: 70vw;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: #60d9f1;
  margin-left: 15vw;
}

header, h1 {
  font-family: sans-serif;
  font-size: 3.5vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.music-player {
  width: 60vw;
}
